[submodule "src/appier"]
	path = src/appier
	url = https://github.com/hivesolutions/appier_bin.git
[submodule "lib"]
	path = lib
	url = git@bitbucket.org:hivesolutions/pushi_lib.git
[submodule "js"]
	path = js
	url = git@bitbucket.org:hivesolutions/pushi_js.git
