name: Deploy Workflow (JS)
on:
  push:
    tags:
      - "*"
jobs:
  build:
    name: Deploy
    timeout-minutes: 10
    strategy:
      matrix:
        node-version: [20]
    runs-on: ubuntu-latest
    container: node:${{ matrix.node-version }}
    defaults:
      run:
        working-directory: js
    steps:
      - name: Checkout code from repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Print Node.js information
        run: node --version
      - name: Install dependencies
        run: npm install
      - name: Verify Javascript code linting
        run: npm run lint
      - name: Run tests
        run: npm test
      - name: Deploy package to NPM
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
          npm publish --access public
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
